.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    margin-top: 5%;
}

.card-container  {
    flex-shrink: 0;
    margin-right: 20px;
}

.card-container .link:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .card-container .link {
        margin-right: 5px;
    }
}

.h1related{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.related-products-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    position: relative;
  }
  
  .related-products-title:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 50px;
    height: 3px;
    background-color: #333;
  }
  
  .related-products-title:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
  }