
.related-products-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    position: relative;
  }
  
  /* .related-products-title:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 50px;
    height: 3px;
    background-color: #333;
  } */
  
  /* .related-products-title:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
  }  */

  .related-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.product-card {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .product-card {
        width: 250px;
    }

    .product-card img {
        height: 150px;
    }

    .product-card h3 {
        font-size: 18px;
    }

    .product-card p {
        font-size: 14px;
    }
}
