html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.welcomeContainer {
  background-image: url("../../images/blackdarkwood.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
}

.welcomeContainer h1 {
  font-size: 120px;
  font-family: aBlackLives;
  font-weight: 0;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 6px rgb(78, 75, 75);
  padding-bottom: 30px;
}

.slogan {
  font-family: aBlackLives;
  font-size: 20px;
  color: #babbbe;
  text-shadow: 5px 5px 5px rgb(15, 15, 15);
  padding-bottom: 30px;
}

.buttonToHome {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-shadow: 1px 1px 1px black;
  background-image: linear-gradient(
    to right,
    #4b4f51,
    #a3a5aa,
    #a6aeb0,
    #ffffff
  );
  box-shadow: 3px 0px 10px rgba(230, 223, 230, 0.9);
}

.buttonToHome:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.buttonToHome:focus {
  outline: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.teamSection {
  background-image: url(../../images/blackdarkwood.jpg);
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.teamSection h1 {
  font-size: 80px;
  font-family: Bebas;
  font-weight: 0;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(146, 141, 141);
}

.teamContainer {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
}

.teamMemberCard {
  border-radius: 5px;
  height: 330px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(223, 218, 218, 0.75);
  transition: all 200ms ease;
}

.teamMemberCard h2 {
  font-size: larger;
  font-family: RobotoCondensed;
  font-weight: bold;
  transition: all 200ms ease;
}

.teamMemberCard span {
  text-align: center;
  width: 80%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(188, 185, 185, 0.75);
  font-family: Bebas;
  font-size: smaller;
}

.teamMemberCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 0px rgba(223, 218, 218, 0.75);
}

.teamMemberCard:hover span {
  color: rgb(100, 100, 197);
  box-shadow: 0px 0px 6px 0px rgba(220, 214, 214, 0.75);
}

.teamMemberCard:hover h2 {
  color: rgb(60, 60, 177);
  transform: scale(1.1);
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 5px;
  padding-top: 40px;
}
.imgContainer img {
  width: 70%;
  height: 150px;
  border-radius: 50%;
}

.memberSocialMedias {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  transition: all 200ms ease;
}

.memberSocialMedias a {
  cursor: pointer;
  transition: all 200ms ease;
}

.memberSocialMedias a:hover {
  transform: scale(1.3);
}

.arrowIcon {
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
}
