.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 6rem;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 3rem;
}

.loading {
  margin-bottom: 5rem;
  padding-top: 5rem;
  font-size: xx-large;
  font-family: Bebas;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h1{
  font-size: 40px;
  font-family: aBlackLives;
  text-shadow: 2px 2px 2px rgb(62, 59, 59);
  color: rgb(21, 20, 20);
  display: flex;
  justify-content: space-around;
  
  
  
  
  
}
