.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productPanel {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 3rem;
  padding-top: 5rem;
  height: 100vh;
  border-radius: 5px;
  margin-right: 2rem;
  box-shadow: 0px 0px 7px 0px rgba(200, 195, 195, 0.75);
}

.productPanelTitle {
  font-size: 4rem;
  display: flex;
  justify-self: flex-start;
  padding-bottom: 1rem;
  color: rgb(78, 139, 78);
  font-family: MetroPoliceRegular;
  text-shadow: 1px 1px 1px rgb(180, 172, 172);
}

.userPanel {
  font-family: Bebas;
  font-size: large;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterPanel {
  box-shadow: 0px 0px 7px 0px rgba(200, 195, 195, 0.75);
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 3rem;
  padding-left: 5rem;
  padding-top: 5rem;
  border-radius: 5px;
  font-family: RobotoCondensed;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: all 200ms ease;
}

.filter:hover {
  transform: scale(1.05);
}

.filter .myShopping,
.mySales,
.myFavorites,
.help {
  transition: all 200ms ease;
}

.filter:hover .myShopping {
  color: rgb(89, 89, 195);
}
.filter:hover .mySales {
  color: rgb(51, 123, 69);
}

.filter:hover .myFavorites {
  color: rgb(231, 68, 68);
}

.filter:hover .help {
  color: rgb(74, 196, 220);
}

.productsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 3rem;
  gap: 5rem;
}

.loading {
  margin-bottom: 5rem;
  padding-top: 5rem;
  font-size: xx-large;
  font-family: Bebas;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(137, 52, 52);
}
.sadFace {
  color: black;
  font-size: 25px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
