html body {
  /* background-image: url('./images/fondo.jpg'); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SportWorld"; /*Can be any text*/
  src: local("SportWorld"), url("./fonts/SportsWorld.ttf") format("truetype");
}

@font-face {
  font-family: "Seriously"; /*Can be any text*/
  src: local("Seriously"), url("./fonts/Seriously.ttf") format("truetype");
}

@font-face {
  font-family: "aBlackLives"; /*Can be any text*/
  src: local("aBlackLives"), url("./fonts/aBlackLives.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
