.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}