.container {
  width: 100%;
  display: flex;
  background-color: black;
}
.list {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 25s infinite linear;
  padding-left: 100%; /*Initial offset, which places the text off-screen*/
  color: rgb(255, 255, 255);
  font-family: RobotoThin;
  font-weight: bolder;
  letter-spacing: 3px;
}

.list span {
  margin-left: 2rem;
  text-shadow: 1px 1px 1px rgb(219, 168, 26);
}

.list:hover {
  animation-play-state: paused;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}
