.cardContainer {
  height: 380px;
  width: 245px;
  border: 1px solid rgb(235, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 11px 0px rgba(148, 141, 141, 0.27);
  transition: all 200ms ease;
  border-radius: 8px;
}

.iconHeart {
  align-self: flex-end;
  font-size: 23px;
  margin-right: 10px;
  transition: all 400ms ease;
  opacity: 0;
}

.buttonHeart {
  z-index: 999;
}

.iconHeart i {
  transition: all 400ms ease;
}

.iconHeart:hover {
  transform: scale(1.1);
}

.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 18px -3px rgb(186, 203, 226);
}

.cardContainer:hover .iconHeart {
  opacity: 1;
}

.cardContainer:active {
  transform: scale(1.01);
  box-shadow: 0px 0px 19px -3px rgb(78, 242, 165);
}

.cardContainer img {
  border-radius: 15px;
  padding: 0;
  width: 200px;
  height: 200px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  padding-top: 1rem;
}

.cardContainer h1 {
  color: rgb(84, 80, 80);
  padding-top: 15px;
  font-family: Bebas;
  font-size: 16px;
}

.cardContainer h2 {
  color: rgb(72, 72, 77);
  font-weight: 1000;
  font-size: 16px;
  font-family: Bebas;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cardContainer p {
  font-family: MetroPoliceRegular;
  color: rgb(34, 153, 34);
  font-weight: 1000;
}

.productName {
  text-align: center;
}
