.slider {
  width: 100%;
  height: 600px;
  margin-top: auto;
  border-radius: 5px;
  overflow-x: hidden;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 20s infinite alternate;
}

.slider li {
  list-style: none;
  width: 100%;
}

.slider img {
  border-radius: 5px;
  width: 100%;
  height: 600px;
  margin: auto;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.img {
  object-fit: cover;
}
