.containerName {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    font-size: 36px;
    font-weight: 200;
    margin: 0 0 0 -20px;
    width: 100%;
}

.Name {
    font-family: SportWorld;
    font-size: 40px;
    font-weight: 0;
}

.container {
    width: 100%;
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-bottom: 30px;
}
    
    
    .CategoryContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
        justify-content: center;
        align-items: center; 
    }

    .CategoryContainer:hover {
        background-color: #5587f488;
        box-shadow: 0px 10px 20px rgba(57, 57, 61, 0.3);
        transform: translateY(-5px);
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    .names {
        font-family: SportWorld;
        font-size: medium;
    }