.containerName {
    padding-top: 100px;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Name {
    font-family: SportWorld;
    font-size: 40px;
    font-weight: 0;
}

.cointainer {
    width: 100%;
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    margin-bottom: 30px;
}
    
    
    .TShirtsContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
        
    }
    
    .names {
padding-top: 120px;
    }

    .PantsContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
    }

    .ShoesContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
    }

    .BallsContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
        
    }

    .SupplementsContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
    }
    
    .AccessoriesContainer {
        display: flex;
        flex-direction: column;
       width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.486);
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-shadow: 7px 7px 15px rgba(231, 231, 236, 0.3);
        transition: all 300ms ease;
        cursor: pointer;
         
    }