.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(73, 70, 70);
  color: rgb(235, 226, 226);
  font-family: RobotoThin;
  font-size: small;
  height: 350px;
}

.firstContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoContainer span:hover {
  font-weight: bolder;
}

.infoContainer h3 {
  font-weight: 1000;
  font-size: medium;
}

.socialContainer {
  display: flex;
  justify-content: space-between;
}

.socialContainer i {
  cursor: pointer;
  scale: 1.1;
  transition: all 200ms ease;
}

.socialContainer i:hover {
  transform: scale(1.3);
}

.brandsContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.brandsContainer img {
  opacity: 0.5;
  height: 80px;
  width: 80px;
  mix-blend-mode: multiply;
  border-radius: 20%;
}

.copyrightsContainer {
  margin-top: 2rem;
  font-weight: 0;
  font-family: RobotoThin;
}
