.buttonBack {
  width: fit-content;
  scale: 2.5;
  animation: headShake linear infinite 1.8s;
  transition: all 200ms ease;
}

.buttonBack:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

.buttonBack:active {
  transform: scale(1.1);
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-4px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(3px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-2px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
