.filtersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    border: 1px solid black;
    height: 60px;
    justify-content: space-around;
    background-color: black;
}

.select {
    border-radius: 10px;
    height: 40px;
    display: flex;
}