.filtersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 60px;
  justify-content: space-evenly;
}

.select {
  padding: 8px;
  color: rgb(101, 108, 120);
  font-family: Bebas;
  font-size: medium;
  font-weight: bold;
  border-radius: 2px;
  display: flex;
  height: 40px;
  width: 10rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 11px 0px rgba(148, 141, 141, 0.27);
}

.select option {
  color: rgb(95, 100, 99);
  font-size: smaller;
  font-weight: bold;
  border-radius: 2px;
  display: flex;
  height: 40px;
  font-family: Bebas;
}
