.main{
   
   
    background-color:white;

   
    
    
}

.clean{
    
    
    margin-left:1168px;
    margin-top: 8px;

}


.clean1{
    border: solid black 2px;
    background-color: lightgray;
    margin-left:1137px;
  margin-top: -40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100px;

}

.back{
    color: blue;
    text-decoration: underline;
    margin-left: 1139px;
    margin-bottom: 10px;
}

.cartitem{
    margin-top: 1px;
   
    

}