.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  transition: all 200ms ease;
}

.cardContainer:hover {
  transform: scale(1.03);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  box-shadow: 0px 0px 10px 0px rgba(174, 166, 166, 0.75);
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.imgContainer:hover {
  box-shadow: 0px 0px 18px -3px rgb(186, 203, 226);
}

.imgContainer img {
  border-radius: 5px;
  width: 350px;
  height: 230px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.productName {
  font-family: Bebas;
  font-size: large;
  color: rgb(118, 115, 115);
  font-weight: 1000;
}

.productPrice {
  font-weight: bold;
  font-family: Bebas;
}
