.container {
  
    position:relative;
   display: flex;
/*    font-feature-settings: "cfar"; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   flex-direction: column;

   align-items: center;
   background-color:white;
   border: 1px solid white;
   padding: 4px;
   margin-left: -27px;
   width: 240px;
   height: 350px;
/*    border-radius: 20px; */
   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
   cursor: pointer;
   transition: 0.4s;
   overflow: hidden;
   
 }
  /*  .container  :hover { */
  /*    transform: scale(1.1); */
  /*    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), */
  /*      -5px -5px 30px 15px rgba(0, 0, 0, 0.22); */
  /*  }  */


   .maincontainer{
    display:inline-block;
    flex-wrap: wrap;
    margin-top:10px;
    margin-left:30px;
  /*   padding: 20px; */
   

    
    
   }

   .p{
    color: rgb(0, 128, 49);
   
   }

   /* .p1{ */
  
   /*  */
   /* } */

   .container :hover {
    
   }