.maincontainer{
  justify-content: center;
  display:inline-block;
  flex-wrap: wrap;
  margin-top:10px;
  margin-left:30px;
 }


 .container {
  position:relative;
 display: flex;
justify-content: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 flex-direction: column;
 align-items: center;
 background-color:rgba(216, 218, 221, 0.568);
 border: 1px solid white;
 padding: 4px;
 margin-left: 47px;
 margin-top: 30px;
 width: 250px;
 height: 350px;
  border-radius: 5px; 
 box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
   -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
 cursor: pointer;
 transition: 0.4s;
 overflow: hidden;
}

.container:hover {
  background-color: #91949b71; 
  transform: translateY(-10px); 
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2); 
}



.flex {
  display: flex;
  justify-content: center;
  
}

.img {
height: 220px;
 }


 
 .name {
  margin-left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 0;

 }

 

