.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePanel {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 3rem;
  padding-top: 5rem;
  height: 100vh;
  border-radius: 5px;
  margin-right: 2rem;
  box-shadow: 0px 0px 7px 0px rgba(200, 195, 195, 0.75);
}
.profilePanelTitle {
  font-size: 4rem;
  display: flex;
  color: rgb(7, 7, 7);
  font-family: MetroPoliceRegular;
  text-shadow: 1px 1px 1px rgb(180, 172, 172);
  justify-self: flex-start;
  margin-bottom: auto;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-bottom: auto;
  flex-grow: 1;
}
.userPanel {
  font-family: Bebas;
  font-size: large;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.userPanelTitle {
  display: flex;
  margin-bottom: -3rem;
  padding-bottom: 0;
  margin-top: 1rem;
}

.filterPanel {
  box-shadow: 0px 0px 7px 0px rgba(200, 195, 195, 0.75);
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
  padding-left: 5rem;
  padding-top: 5rem;
  border-radius: 5px;
  font-family: RobotoCondensed;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: all 200ms ease;
}

.filter:hover {
  transform: scale(1.05);
}

.filter,
.myShopping,
.mySales,
.myFavorites,
.myReviews,
.sellProducts,
.help {
  transition: all 200ms ease;
}

.filter:hover .myShopping {
  color: rgb(89, 89, 195);
}
.filter:hover .sellProducts {
  color: rgb(155, 11, 222);
}
.filter:hover .mySales {
  color: rgb(51, 123, 69);
}

.filter:hover .myFavorites {
  color: rgb(231, 68, 68);
}

.filter:hover .help {
  color: rgb(74, 196, 220);
}

.filter:hover .myReviews {
  color: rgb(105, 110, 112);
}

.adminPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adminPanel .allUsers,
.allProducts {
  transition: all 200ms ease;
  cursor: pointer;
}

.filter:hover .allProducts {
  color: rgb(135, 193, 244);
}

.filter:hover .allUsers {
  color: rgb(135, 193, 244);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ADMIN EDIT MODAL */

.editModal{
  position: fixed;
  z-index: 50;
  /* background-color: #333333; */
  background-color: #F5F5F5;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6), 0 0 16px rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.btnSync{
  width: 30%;
  height: 50px;
  background-color: #96f099;
  border-radius: 15px;
  font-size: 23px;
}

.btnSync:hover{
  /* background-color: #ffafb8; */
  background-color: #51ee56;
}

.btnCancel{
  width: 30%;
  height: 50px;
  background-color: #f09696;
  border-radius: 15px;
  font-size: 23px;
}

.btnCancel:hover{
  /* background-color: #ffafb8; */
  background-color: #e64c4c;
}

.divsEditProducts{
  margin: 20px 0;
  width: 50%;
  text-align: center;
  font-size: 20px;
}
.divsEditProductsDesc{
  margin: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.botonEditProducts{
border: 1px solid #333333;
border-radius: 5px;
width: 50%;
}