.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 103px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* SEARCH */
.searchDiv {
  border: 1px solid rgb(215, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.inputSearch {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 2px;
  width: 400px;
  height: 40px;
  border: none;
  padding-left: 15px;
}
.inputSearch:focus {
  outline: 0;
}

.btnSearch {
  background-color: rgb(43, 40, 40);
  color: white;
  padding: 0 10px;
  cursor: pointer;
  height: 40px;
}

.img {
  height: 80px;
  width: auto;
}

.divLogin {
  position: absolute;
  right: 500px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(43, 40, 40);
  transition: transform 0.2s;
}

.divLogin:hover {
  transform: scale(0.9);
}

.carrito {
  position: absolute;
  right: 350px;
  font-size: 18px;
  color: rgb(43, 40, 40);
}

.sellContainer {
  position: absolute;
  width: 80px;
  color: rgb(43, 40, 40);
  font-weight: bold;
  right: 210px;
}

.cartSpan {
  font-weight: bold;
  font-size: smaller;
  padding-left: 10px;
}

.logo {
  position: absolute;
  left: 23%;
}
